
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test page</title>
</head>
<body>
    <div> 
        <h1>Example of a WEB Application calling a WIF secured WCF Service (Delegation scenario)</h1>
        <hr />
    </div>
    <div>
        <h2>WEB view</h2>
        <hr />
        <h3><i style="white-space: pre-wrap;">@ViewBag.Webview</i></h3>
        <hr />
        <h2>WCF Call result</h2>
        <h3><i style="white-space: pre-wrap;">@ViewBag.Wcfview</i></h3>
        <h3><i style="white-space: pre-wrap;">@ViewBag.Exception</i></h3>
    </div>
</body>
</html>
